/*para el uso de tailwind es necesario hacerlo con otro complemento de postprocesado para los estilos que se llama postcss
---------------installacion : npm i -D tailwindcss postcss autoprefix---------------------------
el autoprefix ayuda a la escritura de las clases 
una vez instalado estas dependencias de Desarrollo es necesario mostrar los ficheros de configuracion para esto se ejecuta el comando
-------------fichero de configuracion : npx tailwindcss init -p-------------
este comando de instalacion hace que se configure el tailwind con el postcss 
*/
.pru{
    border: solid;
    border-color: aqua;
}
.prue{
    border: solid;
    border-color: red;
}
.fondo{
    background: url(../images/fondoLogin.jpg);
    background-size: 100% 100%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: rgb(194, 191, 191);
    position: relative;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #118aca;
    transition: width 0.8s ease-in-out;
  }
  
  .progress-label {
    margin-left: 10px;
    font-size: 14px;
    color: black;
  }
  
  .clima-icon{
    font-size: 140px;
  }
  